html {
  width: 25em;
}

body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

p {
  font-size: 200%;
}

input[type="checkbox"] {
  position: static !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}

#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

#bottom {
  margin: auto;
  width: 300px;
}

.btnInline {
  display: inline;
}