html {
  width: 25em;
}

body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

p {
  font-size: 150%;
}


#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

#times input {
  text-align: center;
}

#bottom {
  margin: auto;
  width: 300px;
}

.btnInline {
  display: inline;
}

#namelabel{
  font-size:0.9em;
}

#managerlink{
  font-size:2em;
}
